streamlit
openai
langchain-chroma
langchain-community
python-dotenv
chromadb==1.5.5
langchain-huggingface
langchain-text-splitters
langchain-core
sentence-transformers
langchain
langchain-classic
flashrank
rank-bm25
protobuf==6.33.5